body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  background-color: #fffff5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

body a {
  text-decoration: underline;
}

body a:link {
  color: #002e93;
}

body a:visited {
  color: #430078;
}

body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

body img {
  border-style: none;
}

body table {
  border-spacing: 0;
  border-collapse: collapse;
}

body td,
body th {
  padding: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-top: 0;
  margin-bottom: 0;
}

body h1 {
  font-size: 32px;
  font-weight: 600;
}

body h2 {
  font-size: 24px;
  font-weight: 600;
}

body h3 {
  font-size: 20px;
  font-weight: 600;
}

body p {
  margin-top: 0;
  margin-bottom: 10px;
}

body ul,
body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body ol ol,
body ul ol {
  list-style-type: lower-roman;
}

body ul ul ol,
body ul ol ol,
body ol ul ol,
body ol ol ol {
  list-style-type: lower-alpha;
}

body p,
body blockquote,
body ul,
body ol,
body dl,
body table,
body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

body h1,
body h2,
body h3{
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
}

body h2 {
  padding-bottom: 0.3em;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  border-bottom: 1px solid #abc191;
}

body h3 {
  font-size: 1.25em;
}

ul.onemargin {
  padding-left: 1em;
}

body ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

body table {
  display: block;
  width: 100%;
  overflow: auto;
  font-size: 0.9em;
}

body table th {
  background-color: #eaedd7;
  padding: 6px 13px;
  border: 1px solid #c8cbce;
}

body table td {
  background-color: #fff;
  padding: 6px 13px;
  border: 1px solid #cbc8ce;
}

body table tr {
  border-top: 1px solid #c6cbd1;
}

div.container {
  margin: 3%;
}

li.question {
  list-style: none;
}

li.answer {
  list-style: none;
}

li.question:before {
    content: "Q. ";
}

li.answer:before {
    content: "A. ";
}

div.titleimg {
  position: relative;
}

div.titleimg img {
  width: 100%;
}

p.backtohome {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

div.icons {
  text-align: center;
}

.mobile {
  display: none;
}

@media screen and (max-width: 620px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
}
